h1 {
  background-color: var(--headlineColor);
  color: var(--white);
  text-align: center;
  padding: 20px;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--navbarColor)
}
.navigation-unorderedlist {
  display: flex;
  align-items: center;
  width: 100%;
}
.navigation-unorderedlist-list {
  display: inline;
  margin-left: 1rem;
  width: 100%;
}
.navigation-unorderedlist-image {
  width: 10%;
}
.load-data {
  padding: 5px;
}
.label-name {
  margin-left: 15px;
  margin-right: 5px;
  color: var(--white);
}
@media only screen and (max-width: 600px) {
  .navigation-unorderedlist-image {
    visibility: hidden;
  }
}