h1 {
    background-color: aliceblue;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
}
.navigation-unorderedlist {
    display: flex;
    align-items: center;
    width: 100%;
}
.navigation-unorderedlist-list {
  display: inline;
  margin-left: 1rem;
  width: 100%;
}
.navigation-unorderedlist-image {
  width: 20%;
  
}
